{
  "presets": [
    "env",
    "es2015",
    "stage-3",
    "react",
  ],
  "env": {
    "jestTest": {
      "plugins": [
        "babel-plugin-rewire"
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
