{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": [
    "compat"
  ],
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "arrow-body-style": ["error", "always"]
  }
}
