.Header {
  margin-bottom: 30px;
}

.Header-tabs {
  display: flex;
}

.Header-tab {
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
}

.Header-tab--active {
  composes: Header-tab;
  color: #59d482;
  border-color: #59d482;
  font-weight: bold;
}
